
#DJANGO VARIABLES
DJANGO_SECRET_KEY=
DJANGO_SETTINGS_MODULE=config.settings.production

# postgres variables generated directly on vercel

POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

#AWS (not required)
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=